<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="BinarCode Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
